SECRET_KEY=

DEBUG=True

NAME=
USER=
PASSWORD==
HOST=localhost
PORT=5432


STRIPE_SECRET_KEY=
STRIPE_PUBLIC_KEY=

TELEGRAM_TOKEN=

REDIS_HOST=
REDIS_PORT=

FRONTEND_URL=

DJANGO_ALLOWED_HOSTS=
x2=default_value
REDIS_URL=

EMAIL_HOST=
EMAIL_PORT=
EMAIL_HOST_USER=
EMAIL_HOST_PASSWORD=